<!DOCTYPE html>
<html>
    <head>
        <title>Авторизация</title>
        <meta http-equiv="Cache-Control" content="no-store" />
        <link rel="stylesheet" href="/static/styles/auth.css" />
    </head>
    <body>
        <div class="errors">
            Ошибка (код): текст ошибки
        </div>
        <main class="auth-wrapper">
            <div class="auth-title">Авторизация</div>
            <form method="POST" action="/auth" class="form-container" id="auth-form">
                <div class="auth-field">
                    <label class="nomination" for="login">Логин / Email / Телефон</label>
                    <input type="text" name="login" class="input-field" id="login" />
                </div>
                <div class="auth-field">
                    <label class="nomination" for="password">Пароль</label>
                    <input type="password" name="password" class="input-field" id="password" />
                </div>
                <div class="auth-field">
                    <input type="submit" class="button-field" value="Войти" />
                    <input type="button" class="button-field" id="restore-password" value="Забыли пароль?" />
                </div>
            </form>
            <form method="POST" action="/restore" class="form-container hidden" id="restore-form">
                <div class="auth-field">
                    <label class="nomination" for="login">Логин / Email / Телефон</label>
                    <input type="text" name="login" class="input-field" id="login" />
                </div>
                <div class="auth-field">
                    <input type="submit" class="button-field" value="Восстановить" />
                    <input type="button" class="button-field" id="back-to-auth" value="Назад" />
                </div>
            </form>
        </main> 
        <script src="/static/scripts/auth.js"></script>
    </body>
</html>